*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html
{
    font-size: 62.5%;
}
body {
    background: #eeeeee;
    color: #030303;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  header {
    text-align: center;
    padding: 3rem 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,85,57,0.969625350140056) 100%, rgba(0,212,255,1) 100%);
    color: white;
  }
  header > h1 {
    font-weight: normal;
    font-style: italic;
  }
  main {
    padding: 1.5rem 0;
  }
  .container {
    max-width: 700px;
    width: 100%;
    margin: 1rem auto;
  }
  .movie {
    width: 100%;
  }
  .padre {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .botones {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,85,57,0.969625350140056) 100%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    border: 0.1rem solid transparent;
  }
  .botones:hover {
    border: 0.1rem solid #030303;
    background: #fff;
    color: #030303;
  }
  input[type='range'] {
    display: block;
    width: 250px;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: transparent;
  margin-top: 1rem;
}
input[type=range]::-webkit-slider-thumb {
  /* background-color: #fff; */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,85,57,0.969625350140056) 100%, rgba(0,212,255,1) 100%);
  width: 2rem;
  height: 2rem;
  border: 0.3px solid #000;
  border-radius: 45%;
  margin-top: -9px;
}
input[type=range]::-moz-range-thumb {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 3px solid #000;
  border-radius: 45%;
}
input[type=range]::-ms-thumb {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-radius: 45%;
}
input[type=range]::-webkit-slider-runnable-track {
  /* background-color: #777; */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,85,57,0.969625350140056) 100%, rgba(0,212,255,1) 100%);
  height: 0.3rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}
input[type=range]::-moz-range-track {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,85,57,0.969625350140056) 100%, rgba(0,212,255,1) 100%);
  height: 0.3rem;
}
input[type=range]::-ms-track {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,85,57,0.969625350140056) 100%, rgba(0,212,255,1) 100%);
  height: 0.3rem;
}
/* input[type=range]::-ms-fill-lower {
  background-color: HotPink
}
input[type=range]::-ms-fill-upper {
  background-color: black;
}  */
h2 {
  font-size: 2.2rem;
  text-align: center;
  margin: 3rem;
}
ul {
  margin: 0 auto;
  width: 120rem;
}
li {
  text-align: justify;
  font-size: 1.7rem;
  list-style: none;
  padding: 1rem;
}